html {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.myButton {
	background:rgba(255, 255, 255, 0);
	border-radius:28px;
	border:1px solid black;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:10px 65px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    transition: 0.5s;
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
}
.myButton:hover {
	background:#0084ff;
    color:rgb(255, 255, 255);
    transition: 0.5s;
    border:1px solid rgba(0, 0, 0, 0);
    padding:10px 95px;
}

.myButton:active {
    filter: brightness(0.3);
    transition: 0.5s;
}

* {
    text-align: center;
}

div {
    height:450px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

h {
    font-family: 'Comfortaa', cursive;
    font-size: 64px;
    font-weight: 700;
    text-shadow: #000000;
    color:#002fff;
    text-shadow: 2px 2px 8px rgb(17, 106, 221);
}

p {
    font-family: 'Comfortaa', cursive;
    font-weight: 100;
    font-size: 16px;
}
